body {
    background: url("/assets/images/spiraltile4.svg") repeat;
    background-size: 800px;
    background-color: navy; 
}

.day .card {
    background: white;
    color: black;
    border:1px solid black;
}

.night .card {
    background: black;
    color: white;
    border:1px solid white;
}

